<div class="p-4 p-md-8">
    <h1 class="fs-1 text-medium mb-6 mt-3">Создание расхода</h1>
    <form class="form-container mb-3_5 ">
        <input type="text" class="form-control mb-2" placeholder="Тип...">
        <input type="text" class="form-control mb-2" placeholder="Категория...">
        <input type="text" class="form-control mb-2" placeholder="Сумма в $...">
        <input type="text" class="form-control mb-2" placeholder="Дата...">
        <input type="text" class="form-control" placeholder="Комментарий...">
    </form>
    <a class="btn btn-success fs-7 me-2" href="/operations">Создать</a>
    <a class="btn btn-danger fs-7" href="/operations">Отмена</a>
</div>