<div class="p-4 p-md-8">
    <h1 class="fs-1 text-medium mb-6 mt-3">Редактирование расхода</h1>
    <form class="form-container mb-3_5">
        <input type="text" class="form-control mb-2" value="Доход" placeholder="Тип...">
        <input type="text" class="form-control mb-2" value="Зарплата" placeholder="Категория...">
        <input type="text" class="form-control mb-2" value="500$" placeholder="Сумма в $...">
        <input type="text" class="form-control mb-2" value="11.09.2022" placeholder="Дата...">
        <input type="text" class="form-control" placeholder="Комментарий...">
    </form>
    <a class="btn btn-success fs-7 me-2" href="/inc-exp">Сохранить</a>
    <a class="btn btn-danger fs-7" href="/inc-exp">Отмена</a>
</div>