@font-face {
    font-family: RobotoRegular;
    font-style: normal;
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url('./../static/fonts/Roboto.woff2')format('woff2');
}

@font-face {
    font-family: RobotoMedium;
    font-style: normal;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('./../static/fonts/Robotomedium.woff2')format('woff2');
}

$font-regular:'RobotoRegular',
sans-serif;
$font-medium: 'RobotoMedium',
sans-serif;

body {
    font-family: $font-regular;
}

.text-medium {
    font-family: $font-medium;
    font-weight: 500;
}

.form-container {
    max-width: 25rem;
}

.input-group-text{
    color: #6C757D;
}

.bi-chevron-right {

    &::before {
        transition: transform .35s ease;
    }
}

.btn-toggle[aria-expanded="true"] {
    .bi-chevron-right {
        &::before {
            transform: rotate(90deg);
        }
    }
}

.nav {
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: white;
}

.active,
.nav-link:hover,
.nav-link:focus {
    background-color: var(--bs-nav-pills-link-active-bg);
}

.nav-item.border {
    --bs-border-color: white;

    &:focus-within,
    &:has(.nav-link.active) {
        --bs-border-color: #0d6efd;
    }
}

.row>* {
    flex-basis: 22rem;
}

.separator {
    width: 1px;
}

.add-item,
.pointer {
    &:hover {
        cursor: pointer;
    }
}

.close {
    display: none;

    &.open {
        display: flex;
        position: fixed;
        background-color: white;
    }

    &.open-block {
        display: block;
    }
}

.dialog {
    top: -5rem;
}

.box {
    overflow-x: auto;
    max-width: 88vw;
    width: max-content;
    position: relative;

    @media (min-width: 786px) {
        width: 100%;
    }
}
.date-picker-box{
    width: 265px;
}
.date-picker{
    border-collapse: separate;
    border-spacing: 1em;
    text-align: center;
    td.current{
        background-color: darkgray;
    }
    td.select{
        color: white;
        background-color: black;
    }
    td:hover{
        cursor: pointer;        
        color: white;
        background-color: #6C757D;
    }
}
